body {
    margin: 0 0 0 0;
    background-color: black;
}

#footer {
    color: white;
    text-align: end;
    margin: -10px -120px;
}

.menu {
    position: relative;
    display: inline-block;
    width: 450px;
    float: left;
}

#titleButton {
    background-color: #1f1f1f;
    background-size: 200px;
    background-image: url(/static/images/cloud_grey.png);
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
    padding: 91px 10px;
    font: bold 50px trebuchet ms;
}

#titleButton:hover {
    background-image: url(/static/images/cloud_light_grey.png);
    transition: 1s;

}

.menuElements {
    background-color: #504f4f;

}

.menuElements a {
    font: 24px trebuchet ms;
    display: block;
    text-decoration: none;
    padding: 60px 10px;
    color: white;
    text-align: left;
}

.menuElements a:hover {
    background-color: #6d6c6c;
    transition: 1s;
}

.miniIcon {
    max-width: 15%;
    vertical-align: middle;
    margin-right: 50px;
    margin-top: -10px;
}

.content {
    position: relative;
    display: grid;
    margin: -7px 40px;
    justify-content: space-between;
}

.data {
    font: 50px trebuchet ms;
    color: white;
    padding: 10px;
    margin: 90px 250px;
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 400px;
    height: 50px;
    text-indent: 50px;
    text-shadow: 5px 0 5px black;
}

.icon {
    vertical-align: top;
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 140px;
    float: left;
    padding: 50px;
    margin-top: 10px;
}

.humidity {
    background-image: radial-gradient(#003857, #429ed0);
}

.temp {
    background-image: radial-gradient(#2f0000, #c50303);
}

.pressure {
    background-image: radial-gradient(#243e00, #559300);
}