<!doctype html>
{% extends "base.html" %}
{% load static %}
<html lang="fr">
<body>
    {% block content %}
    <div class="graphimg">
        <img id="graph" src="/graph.png" alt="" />
    </div>

    <div class="arrow">
        <div id="left_arrow">
            <img onclick="reloadPage()" src="{% static 'images/arrow_left.png' %}" alt="" />
        </div>
        <div id="right_arrow">
            <img onclick="reloadPage()" src="{% static 'images/arrow_right.png' %}" alt="" />
        </div>
    </div>
    {% endblock content %}
</body>
</html>
