<!doctype html>
<meta charset="UTF-8">
{% extends "base.html" %}
{% load static %}
<html lang="fr">
<body>
{% block content %}
    <div class="circle">
        <img class="icon humidity" src="{% static 'images/drop.png' %}" alt=""/>
        <img class="icon temp" src="{% static 'images/thermometer.png' %}" alt=""/>
        <img class="icon pressure" src="{% static 'images/barometer.png' %}" alt=""/>
    </div>
    <div class="data">
        <div class="humidity">{{ humidity }} %</div>
        <div class="temp">{{ temp }} °C</div>
        <div class="pressure">{{ pressure }} hPa</div>
    </div>
    <p>Dernière mise à jour le : {{ time }}</p>
{% endblock content %}
</body>
</html>