<!doctype html>
<meta charset="UTF-8">
{% extends "base.html" %}
{% load static %}
<html lang="fr">
<body>
    {% block content %}
    <div class="content">
        <div class="placement">
            <img class="icon humidity" src="{% static 'images/drop.png' %}" alt="" />
            <div class="data humidity">{{ humidity }} %</div>
        </div>
        <div class="placement">
            <img class="icon temp" src="{% static 'images/thermometer.png' %}" alt="" />
            <div class="data temp">{{ temp }} °C</div>
        </div>
        <div class="placement">
            <img class="icon pressure" src="{% static 'images/barometer.png' %}" alt="" />
            <div class="data pressure">{{ pressure }} hPa</div>
            <div id="footer">Dernière mise à jour le : {{ time }}</div>
        </div>
    </div>
    {% endblock content %}
</body>
</html>